@import './params.scss';
.newindex_text-lgray {
  color: $lgray;
}
.newindex_text-2xl {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}
.newindex_mb-19 {
  margin-bottom: 19px;
}
.newindex_block {
  display: block;
}

.newindex_cursor-pointer {
  cursor: pointer;
}

.newindex_mb-2xl {
  margin-bottom: 126px;
}
.newindex_color-white, .newindex_text-white {
  color: #fff;
}

.newindex_wrap {
  flex-wrap: wrap;
}

.newindex_w-half {
  width: 50%;
}

.newindex_w-20 {
  width: 20%;
}

.newindex_text-2lg {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

@media (max-width: 1023px) {
  .newindex_mb-2xl {
    margin-bottom: 41px;
  }
  .newindex_heading.newindex_flex .newindex_blocktitle {
    margin-right: 0;
  }
}