<% var data = {
  title: "REMVAC.RU",
  author: ""
}; %>
<%= _.template(require('../includes/head.html').default)(data) %>
<%= _.template(require('../includes/header.html').default)(data) %>
<main>
  <section>
    <div class="newindex_mainblock">
      <div class="newindex_container">
        <div class="newindex_mainblock__wrapper newindex_flex newindex_justify-between newindex_items-bottom">
          <div class="newindex_mainblock__main newindex_flex newindex_justify-between  newindex_items-bottom">
            <div class='newindex_newindex_flex newindex_flex-column newindex_justify-end'>
              <div class="newindex_mainblock__title">
                <h1><span>Дмитровский</span> стекольный завод</h1>
              </div>
              <div class="newindex_mainblock__descr">Производство стеклотары</div>
              <div class="newindex_mainblock__icon"><a href="#"><img src="img/play.png" alt=""></a></div>
            </div><!-- /.mainblock__icon -->
          </div><!-- /.mainblock__main -->
          <div class="newindex_mainblock__image">
            <div class="newindex_mainblock__img"><img src="img/image1.png" alt=""></div><!-- /.mainblock__img -->
          </div><!-- /.mainblock__image -->
        </div><!-- /.mainblock__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.mainblock -->
  </section>


  <section>
    <div class="newindex_fitchesblock">
      <div class="newindex_container">
        <div class="newindex_fitchesblock__wrapper newindex_flex newindex_justify-between newindex_items-center">
          <div class="newindex_fitchesblock__fitches">
            <div class="newindex_blueitems">
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock1.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Современные технологии</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock2.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Контроль качества</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock3.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Максимальная надежность</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock4.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Индивидуальный подход</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock5.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Высокий профессионализм сотрудников</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
              <div class="newindex_blueitems__item">
                <div class="newindex_blueitems__content">
                  <div class="newindex_blueitems__main">
                    <div class="newindex_blueitems__image">
                      <div class="newindex_blueitems__img"><img src="img/fitchesblock6.png" alt=""></div>
                    </div><!-- /.blueitems__image -->
                    <div class="newindex_blueitems__text">
                      <span>Дорожим своей репутацией</span>
                    </div><!-- /.blueitems__text -->
                  </div><!-- /.blueitems__main -->
                </div><!-- /.blueitems__content -->
              </div><!-- /.blueitems__item -->
            </div><!-- /.blueitems -->
          </div><!-- /.fitchesblock__fitches -->
          <div class="newindex_fitchesblock__textimg">
            <div class="newindex_fitchesblock__img"><img src="img/text.png" alt=""></div><!-- /.fitchesblock__img -->
          </div><!-- /.fitchesblock__textimg -->
        </div><!-- /.newindex_flex -->
      </div><!-- /.container -->
    </div><!-- /.fitchesblock -->
  </section>
    
  <section class='newindex_darkk'>
  <section>
    <div class="newindex_catalogblock newindex_catalogblock_dark">
      <div class="newindex_container">
        <div class="newindex_catalogblock__wrapper newindex_flex newindex_items-center">
          <div class="newindex_catalogblock__image">
            <div class="newindex_catalogblock__img" style='background-image: url(img/catalogblock1.png)'>
              <!-- <img src="img/catalogblock1.png" alt=""> -->
              <div class="newindex_catalogblock__imgcontent">
                <div class="newindex_catalogblock__imgtitle">I-82-1350</div>
                <div class="newindex_catalogblock__imgparams">
                  <div class="newindex_catalogblock__imgparam">
                    <span>Вместимость</span>
                    <span>1350 мл</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Высота</span>
                    <span>205 мм</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Диаметр</span>
                    <span>105 мм</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Тип венчика</span>
                    <span>I-82</span>
                  </div>
                </div><!-- /.catalogblock__imgparams -->
                <div class="newindex_catalogblock__imglink">
                  <a href="/production/steklyannye-banki/">Заказать</a>
                </div><!-- /.catalogblock__imglink -->
              </div><!-- /.catalogblock__imgcontent -->
            </div><!-- /.catalogblock__img -->
            
          </div><!-- /.catalogblock__image -->
          <div class="newindex_catalogblock__main">
            <div class="newindex_catalogblock__content">
              <div class="newindex_catalogblock__list">
                <ul>
                  <li>ТО-82-900</li>
                  <li>I-82-500-1</li>
                  <li>II-2-82-500</li>
                  <li>I-82-1000</li>
                  <li>III-2-82-1000</li>
                  <li>ТО-82-700</li>
                  <li>ТО-43-1000-Соковая</li>
                  <li>I-82-1350</li>
                  <li>III-2-82-1350</li>
                  <li>ТО-66-500-Груша</li>
                  <li>III-3-60-400-Кафе Крем</li>
                  <li>II-55.2-450-Президент</li>
                  <li>III-4-66-1-480</li>
                  <li>ТО-82-650</li>
                  <li>H-2495-2-225-Ламбада</li>
                  <li>К-62-1-440-Ламбада ЧК</li>
                  <li>III-3-52-400-Наполитано</li>
                </ul>
              </div><!-- /.catalogblock__list -->
              <div class="newindex_catalogblock__link">
                <div class="newindex_catalogblock__title">
                  Стеклянные 
                  <span>банки</span>
                </div><!-- /.catalogblock__title -->
                <a href="/production/steklyannye-banki/">В каталог</a>
              </div><!-- /.catalogblock__link -->
            </div><!-- /.catalogblock__content -->
          </div><!-- /.catalogblock__main -->
        </div><!-- /.catalogblock__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.catalogblock -->
  </section>
 
    <section>
    <div class="newindex_catalogblock newindex_catalogblock_light">
      <div class="newindex_container">
        <div class="newindex_catalogblock__wrapper newindex_flex newindex_items-center">
         
          <div class="newindex_catalogblock__main">
            <div class="newindex_catalogblock__content">
              <div class="newindex_catalogblock__link">
                <div class="newindex_catalogblock__title">
                  Стеклянные 
                  <span>бутылки</span>
                </div><!-- /.catalogblock__title -->
                <a href="/production/steklyannye-banki/">В каталог</a>
              </div><!-- /.catalogblock__link -->
              <div class="newindex_catalogblock__list">
                <ul>
                  <li>В-31-4-500-Штоф оригинальный</li>
                  <li> КПМ-30-700 Штоф кристалл</li>
                  <li> КПМ-30Д-500-Хортица</li>
                  <li>В-28-2-250-Фляга К</li>
                  <li>В-28-2-500-Фляга Д</li>
                  <li>В-25-2-500-Столовая N Грани</li>
                  <li>В-28-4изм-500-Родник</li>
                  <li>В-25-2-500-Пъятница</li>
                  <li>В-30-2-500-Праздничная</li>
                  <li>П-27Д-500-1</li>
                  <li>П-40-500-ОБК</li>
                  <li>ПИ-28-700-Мороша New</li>
                  <li>КПМ-28спец-500-Медовуха New</li>
                  <li>В-28-2-500-Добрый медведь</li>
                  <li>КПМ-30-500-Гуала</li>
                  <li>В-28-1-500-ГОСТ</li>
                  <li>П-27.2-500-Белый налив</li>
                </ul>
              </div><!-- /.catalogblock__list -->
             
            </div><!-- /.catalogblock__content -->
          </div><!-- /.catalogblock__main -->
          <div class="newindex_catalogblock__image">
            <div class="newindex_catalogblock__img" style='background-image: url(img/catalogblock2.png)'>
              <!-- <img src="img/catalogblock1.png" alt=""> -->
              <div class="newindex_catalogblock__imgcontent">
                <div class="newindex_catalogblock__imgtitle">В-28-2-250-Фляга К</div>
                <div class="newindex_catalogblock__imgparams">
                  <div class="newindex_catalogblock__imgparam">
                    <span>Вместимость</span>
                    <span>250 мл</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Высота</span>
                    <span>189,2 мм</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Диаметр</span>
                    <span>85,5 мм</span>
                  </div>
                  <div class="newindex_catalogblock__imgparam">
                    <span>Тип венчика</span>
                    <span>B-28-2</span>
                  </div>
                </div><!-- /.catalogblock__imgparams -->
                <div class="newindex_catalogblock__imglink">
                  <a href="/production/steklyannye-banki/">Заказать</a>
                </div><!-- /.catalogblock__imglink -->
              </div><!-- /.catalogblock__imgcontent -->
            </div><!-- /.catalogblock__img -->
            
          </div><!-- /.catalogblock__image -->
        </div><!-- /.catalogblock__wrapper -->
      </div><!-- /.container -->
    </div><!-- /.catalogblock -->
  </section>
</section>

<section>
  <div class="newindex_about">
    <div class="newindex_container">
      <div class="newindex_about__banner">
        <div class="newindex_about__bannercontent">
          <div class="newindex_about__title">Эксклюзивная <br> продукция</div><!-- /.about__title -->
          <div class="newindex_about__link"><a href="">Подробнее</a></div><!-- /.about__link -->
        </div><!-- /.about__bannercontent -->
      </div><!-- /.about__banner -->
      <div class="newindex_about__text">
        Для своих партнеров мы готовы предложить производство стеклянной упаковки по индивидуальному заказу на гибких условиях. Стеклянные банки и бутылки разного объёма и дизайна. Для обсуждения возможности производства, объемов минимальных тиражей, а так же условий сотрудничества вы можете связаться с нашими менеджерами.
      </div><!-- /.about__text -->
      <div class="newindex_about__items">
        <div class="newindex_about__item">
          <div class="newindex_about__content">
            <div class="newindex_about__caption">
              Индивидуальный дизайн  
            </div><!-- /.about__caption -->
          </div><!-- /.about__content -->
        </div><!-- /.about__item -->
        <div class="newindex_about__item">
          <div class="newindex_about__content">
            <div class="newindex_about__caption">
              Конкуретное преимущество
            </div><!-- /.about__caption -->
          </div><!-- /.about__content -->
        </div><!-- /.about__item -->
        <div class="newindex_about__item">
          <div class="newindex_about__content">
            <div class="newindex_about__caption">
              Учет особенностей товара
            </div><!-- /.about__caption -->
          </div><!-- /.about__content -->
        </div><!-- /.about__item -->
        <div class="newindex_about__item">
          <div class="newindex_about__content">
            <div class="newindex_about__caption">
              Кратчайшие сроки изготовления
            </div><!-- /.about__caption -->
          </div><!-- /.about__content -->
        </div><!-- /.about__item -->
        <div class="newindex_about__item">
          <div class="newindex_about__content">
            <div class="newindex_about__caption">
              Послепродажная поддержка потребителей
            </div><!-- /.about__caption -->
          </div><!-- /.about__content -->
        </div><!-- /.about__item -->
      </div><!-- /.about__items -->
    </div><!-- /.container -->
  </div><!-- /.about -->
</section>

<section>
  <div class="newindex_partners">
    
    <div class="newindex_main_section animated" id="partners">
      <div class="newindex_page_width">
      <div class="newindex_container">
        <h2>Наши партнеры</h2>
      </div><!-- /.container -->
        <div class="newindex_partners_slider">
          <div class="newindex_item "   >
            <img src="https://stellarglass.ru/upload/iblock/be7/be7d746275c8502e7d9ea7b79102c7c0.png" alt="Партнер 6">
          </div><div class="newindex_item "  >
            <img src="https://stellarglass.ru/upload/iblock/5a2/5a22b3cee7f340072d9e9b6ad428dcce.png" alt="Партнер 7">
          </div><div class="newindex_item ">
            <img src="https://stellarglass.ru/upload/iblock/15a/15abb9a02564f6a4f4c260f59b83c5c5.png" alt="Партнер 8">
          </div><div class="newindex_item ">
            <img src="https://stellarglass.ru/upload/iblock/e04/e040b49c35264eb4fca89b7d08a3eec0.png" alt="Партнер 1">
          </div><div class="newindex_item ">
            <img src="https://stellarglass.ru/upload/iblock/be7/be7d746275c8502e7d9ea7b79102c7c0.png" alt="Партнер 2">
          </div><div class="newindex_item ">
            <img src="https://stellarglass.ru/upload/iblock/5a2/5a22b3cee7f340072d9e9b6ad428dcce.png" alt="Партнер 3">
          </div><div class="newindex_item" >
            <img src="https://stellarglass.ru/upload/iblock/15a/15abb9a02564f6a4f4c260f59b83c5c5.png" alt="Партнер 4">
          </div><div class="newindex_item">
            <img src="https://stellarglass.ru/upload/iblock/e04/e040b49c35264eb4fca89b7d08a3eec0.png" alt="Партнер 5">
          </div><div class="newindex_item" >
            <img src="https://stellarglass.ru/upload/iblock/be7/be7d746275c8502e7d9ea7b79102c7c0.png" alt="Партнер 6">
          </div><div class="newindex_item ">
            <img src="https://stellarglass.ru/upload/iblock/5a2/5a22b3cee7f340072d9e9b6ad428dcce.png" alt="Партнер 7">
          </div><div class="newindex_item "  >
            <img src="https://stellarglass.ru/upload/iblock/15a/15abb9a02564f6a4f4c260f59b83c5c5.png" alt="Партнер 8">
          </div><div class="newindex_item " >
            <img src="https://stellarglass.ru/upload/iblock/e04/e040b49c35264eb4fca89b7d08a3eec0.png" alt="Партнер 1">
          </div><div class="newindex_item " >
            <img src="https://stellarglass.ru/upload/iblock/be7/be7d746275c8502e7d9ea7b79102c7c0.png" alt="Партнер 2">
          </div><div class="newindex_item "  >
            <img src="https://stellarglass.ru/upload/iblock/5a2/5a22b3cee7f340072d9e9b6ad428dcce.png" alt="Партнер 3">
          </div><div class="newindex_item " >
            <img src="https://stellarglass.ru/upload/iblock/15a/15abb9a02564f6a4f4c260f59b83c5c5.png" alt="Партнер 4">
          </div><div class="newindex_item "   >
            <img src="https://stellarglass.ru/upload/iblock/e04/e040b49c35264eb4fca89b7d08a3eec0.png" alt="Партнер 5">
          </div><div class="newindex_item "   >
            <img src="https://stellarglass.ru/upload/iblock/be7/be7d746275c8502e7d9ea7b79102c7c0.png" alt="Партнер 6">
          </div><div class="newindex_item "  >
            <img src="https://stellarglass.ru/upload/iblock/5a2/5a22b3cee7f340072d9e9b6ad428dcce.png" alt="Партнер 7">
          </div><div class="newindex_item " >
            <img src="https://stellarglass.ru/upload/iblock/15a/15abb9a02564f6a4f4c260f59b83c5c5.png" alt="Партнер 8">
          </div>
        </div>
        <span class="newindex_slick-prev" style="">&nbsp;</span>

        <span class="newindex_slick-next" style="">&nbsp;</span>
      </div></div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="newindex_blogblock">
    <div class="newindex_container">
      <div class="newindex_blog">
        <h2>Блог</h2>
        <div class="newindex_blogcontent">
          <div class="newindex_blogslider">
            <div class="newindex_blogslide">
              <div class="newindex_blog__wrapper">
                <div class="newindex_blogmain">
                  <div class="newindex_blogitem">
                    <div class="newindex_blogtitle">Запуск новой печи для производства стеклотары 1</div>
                  </div><!-- /.newindex_blogitem -->
                </div><!-- /.newindex_blogmain -->
              </div><!-- /.newindex_blog__wrapper -->
            </div><!-- /.newindex_blogslide -->
          
            <div class="newindex_blogslide">
              <div class="newindex_blog__wrapper">
                <div class="newindex_blogmain">
                  <div class="newindex_blogitem">
                    <div class="newindex_blogtitle">Запуск новой печи для производства стеклотары 1</div>
                  </div><!-- /.newindex_blogitem -->
                </div><!-- /.newindex_blogmain -->
              </div><!-- /.newindex_blog__wrapper -->
            </div><!-- /.newindex_blogslide -->
          
            <div class="newindex_blogslide">
              <div class="newindex_blog__wrapper">
                <div class="newindex_blogmain">
                  <div class="newindex_blogitem">
                    <div class="newindex_blogtitle">Запуск новой печи для производства стеклотары 1</div>
                  </div><!-- /.newindex_blogitem -->
                </div><!-- /.newindex_blogmain -->
              </div><!-- /.newindex_blog__wrapper -->
            </div><!-- /.newindex_blogslide -->
          
            <div class="newindex_blogslide">
              <div class="newindex_blog__wrapper">
                <div class="newindex_blogmain">
                  <div class="newindex_blogitem">
                    <div class="newindex_blogtitle">Запуск новой печи для производства стеклотары 1</div>
                  </div><!-- /.newindex_blogitem -->
                </div><!-- /.newindex_blogmain -->
              </div><!-- /.newindex_blog__wrapper -->
            </div><!-- /.newindex_blogslide -->
          
            <div class="newindex_blogslide">
              <div class="newindex_blog__wrapper">
                <div class="newindex_blogmain">
                  <div class="newindex_blogitem">
                    <div class="newindex_blogtitle">Запуск новой печи для производства стеклотары 1</div>
                  </div><!-- /.newindex_blogitem -->
                </div><!-- /.newindex_blogmain -->
              </div><!-- /.newindex_blog__wrapper -->
            </div><!-- /.newindex_blogslide -->
          
          </div><!-- /.newindex_blogslider -->
          <div class="newindex_blogarrows">
            <div class="newindex_blogarrow newindex_blogarrow_left">
              <img src="img/blogleft.png" alt="">
            </div>
            <div class="newindex_blogarrow newindex_blogarrow_right">
              <img src="img/blogright.png" alt="">
            </div>
          </div><!-- /.newindex_blogarrows -->
        </div><!-- /.newindex_blogcontent -->
        <div class="newindex__link">
          <a href="/news/">Все статьи</a>
        </div><!-- /.newindex__link -->
      </div><!-- /.newindex_blog -->
    </div><!-- /.container -->
  </div><!-- /.blogblock -->
</section>


<section>
  <div class="newindex_formblock">
      <div class="newindex_formblock__wrapper">
        <div class="newindex_formblock__form">
          <div class="newindex_formblock__input">
            <input type="text" placeholder='Имя'>
          </div><!-- /.newindex_formblock__input -->
          <div class="newindex_formblock__input">
            <input type="text" placeholder='Номер телефона *'>
          </div><!-- /.newindex_formblock__input -->
          <div class="newindex_formblock__input">
            <input type="text" placeholder='Email'>
          </div><!-- /.newindex_formblock__input -->
          <div class="newindex_formblock__input newindex_formblock__input--nomg">
            <input type="text" placeholder='Комментарий'>
          </div><!-- /.newindex_formblock__input -->
          <div class="newindex_formblock__input newindex_formblock__input--file">
            <div class="fileupload">
              <label>
                  <div class="fileupload__files">
                      <div class="fileupload__file">
                          <input type="file" name="FILE"> <span class="filebutton">прикрепить файл</span>
                      </div>
                  </div>
              </label>
            </div>
          </div>
          <div class="newindex_formblock__input">
            <div class="form__row form__row--notsm">
              <div class="form__input">
                  <div class="check">
                      <label class="checkcontainer" for='checkbox_1'>я даю согласие на обработку персональных данных
                        <input id='checkbox_1' type="checkbox" checked="checked" value="Y" checked="">
                        <span class="checkmark"></span>
                      </label>
                  </div>
              </div>
              <div class="form__input">
                  <button type="submit" class="bigButton">Отправить</button>
              </div>
            </div>
          </div>
        </div><!-- /.newindex_formblock__form -->
      </div><!-- /.newindex_formblock__wrapper -->
  </div><!-- /.newindex_formblock -->
</section>

<section>
  <div class="newindex_menubottom">
    <div class="newindex_container">
      <ul>
        <li><a href="">Производство</a></li>
        <li><a href="">Галерея</a></li>
        <li><a href="">Сертификаты</a></li>
        <li><a href="">Вакансии</a></li>
      </ul>
    </div><!-- /.container -->
  </div><!-- /.newindex_menubottom -->
</section>


</main>
 

<%= _.template(require('../includes/footer.html').default)(data) %>