@import './partials/params.scss';
@import './partials/mixins.scss';


.newindex_footer {
  .newindex_socials__item a {
    border-width: 2px;
  }
  .newindex_linkemail {
    font-size: 18px;
    line-height: 18px;
  }
}

.newindex_footer__main {

  padding: 55px 0
}

.newindex_footer__bottom {
  padding: 39px 0 57px 0;
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height */


color: #FFFFFF;
}

.newindex_footer__links a {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
/* identical to box height */
padding-bottom: 6px;
border-bottom: 2px solid #0068D7;
display: block;
margin-right: 48px;
color: #FFFFFF;
padding-top: 2px;
&:hover {
  color: #fff;
    background:#0068D7;

}

&:focus {
  color: #fff;
  background: linear-gradient(transparent 50%, #0068D7 50%) no-repeat;

}
}

.newindex_footer__logo {
  margin-right: 31px;
}

.newindex_footer__cols {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}

.newindex_footer__col {
  padding: 0 15px;

}


.newindex_footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #FFFFFF;
}

.newindex_footer__link {
  position: relative;
  padding-left: 42px;
  margin-left: 34px;

  &:after {
    content: "";
    background: rgba(255, 255, 255, 0.3);
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}



.newindex_footer__link:first-child {
  padding-left: 0;
  margin-left: 0;

  &:after {
    display: none;
  }
}

.newindex_footer__link a {
  font-family: 'Circe';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */

  text-decoration: none;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  ;
  color: #FFFFFF;

  &:hover {
    color: #FF8806;
    border-bottom: 3px solid #FF8806;  }

  &:focus {
    color: #FF8806;
    border-bottom: 3px solid #FF8806;
    
    opacity: 0.5;
  }
}


.newindex_footer__links {
  display: flex;
  align-items: center;
}

.newindex_iconsblock__items {
  padding-left: 30px;
}

.newindex_footer {
    background-color: #0e3847;
   
  
  padding: 30px 0;
}
.newindex_politic {
  margin-bottom: 52px;
  a {
    color: #fff;
   border-bottom: 1px solid rgba(255,255,255,0.3);
    
    &:hover {
      color: #fff;
      border-bottom: none;
    }
  }
}
.newindex_copy {
  color: #fff;
}
.newindex_footer__logo {
  margin-bottom: 40px;
}


.newindex_footer__col {
}
.newindex_footer__menu {
}
.newindex_footer__title {
  margin-bottom: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}
.newindex_footermenu {
  li {
    margin-bottom: 22px;
    list-style: none;
  }

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }
}


.newindex_fcontacts {
}
.newindex_fmail {
  margin-bottom: 24px;
  a {
    font-size: 23px;
    color: #fff !important;
    display: block;
  }
}
.newindex_fphone {
  margin-bottom: 24px;

  a {
    font-size: 25px;
    color: #fff !important;
    display: block;

  }
}
.newindex_faddress {
  font-size: 17px;
  color: #fff !important;
  margin-bottom: 24px;
}
.newindex_fbutton {
  margin-bottom: 24px;
  a {
    background: #89ddfa;
    border: 1px solid #000;
    border-radius: 55px;
    color: #000;
    display: block;
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    padding: 15px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3 ease;
    white-space: nowrap;
  }
}
.newindex_socials__items {
}

.newindex_socials__item {
}
