.newindex_header__wrapper {
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #000;
}


.newindex_header__row {
  margin: 0 -10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newindex_header__item {
  padding: 0 10px;
}


.newindex_mainmenu {}

.newindex_header__phone {}

.newindex_phone {
  a {
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */
    white-space: nowrap;
    color: #FFFFFF;

    &:hover {
      color: #fff;
    }
  }
}


@media (max-width: 1450px) {
  .newindex_header__menu {
    ul {
      margin: 0 -10px;
    }

    li {
      padding: 0 10px;
    }
  }
}
