@import './partials/params.scss';
@import './partials/mixins.scss';



.modal-dialog {
  width: 621px;
  max-width: 100%;
}
.modal-body {
  padding: 70px 78px;
}
.modal-backdrop {
  background: rgba(48, 79, 111, 1);
}
.modal-backdrop.in {
  opacity: .3;
}
.modal-content {
  box-shadow: none;
  border: none;
}

button.close {
  top: 15px;
  right: 15px;
  opacity: 1 !important;
  z-index: 999;
  position: absolute;
  font-size: 1px;

}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #304F6F;
  position: relative;
  margin-bottom: 21px;
  padding-bottom: 24px;
  &:after {
    content: "";
    width: 34px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    background: #0068D7;
    }
}

.modal label {
 
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
margin-bottom: 7px;

color: #304F6F;
}
.required {
  color: rgba(239, 72, 61, 1);
}
.modal input {
  background: #F3F3F6;
    border: none;
    border-bottom: 2px solid #D7DAE0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #343C4B;
   
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 17px 24px;
    width: 100%;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #808080;
   
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #808080;
     
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 27px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #808080;
   
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #808080;
   
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    }
}


.form-group {
  margin-bottom: 17px;
  .caption {
   
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;


color: #304F6F;
  }
}
.rating_form {
  cursor: pointer;
  .rating__formvalue {
    display: none;
  }
}

.form-group.form-group_submit {
  margin-top: 39px;
  text-align: center;
  margin-bottom: 0;
}

.button_large {
  width: 274px;
  padding: 23px 15px;
}

textarea {
  resize: none;
  background: #F3F3F6;
  border: none;
  border-bottom: 2px solid #D7DAE0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: #343C4B;
 
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  padding: 17px 24px;
  width: 100%;
}

input.input-error {
  color: #FB4848 !important;
  border-color: #FB4848;
}

@media (max-width: 767px) {
  .modal-body {
      padding: 38px 15px;
  }
  .modal input, textarea {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    line-height: 1.2;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-size: 14px;
      line-height: 1.2;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-size: 14px;
      line-height: 1.2;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-size: 14px;
      line-height: 1.2;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-size: 14px;
      line-height: 1.2;
    }
  }
  .modal-dialog {
    max-width: 94%;
  }
  .form-group.form-group_submit {
    margin-top: 22px;
  }
  .modal-title {
    font-size: 22px;
    line-height: 1.2;
  }
}