@import './partials/_fonts.scss';
@import './partials/_params.scss';
@import './partials/_mixins.scss';
@import './partials/_animations.scss';
@import './partials/_classes.scss';
@import './header.scss';
@import './footer.scss';
@import './modal.scss';



body {
  min-width: 375px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  @include clear;
  scroll-behavior: smooth;
color: #000;
  overflow-x: hidden;
}

* {
  font-family: 'Roboto';
  font-style: normal;
  box-sizing: border-box;
  outline: none !important;
}

main {
  overflow: hidden;
}

a {
  color: $blue;
  transition: all 0.3 ease;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #0068D7;
}
img {
  max-width: 100%;
  max-height: 100%;
  width: initial;
  height: initial;
}


@media (min-width: 1023px) {
  .newindex_onlyMobile {
    display: none !important;
  }
  .onlyMobile {
    display: none !important;
  }
  .newindex_mainmenu ul li:hover {
    .newindex_submenu {
      display: block;
    }
  }
}


@include medium-screen {
  .onlyMobile {
    display: block;
  }

  .onlyDesktop {
    display: none !important;
  }

}

.newindex_container {
  @include container;
}

.newindex_button {
  display: block;
  border: none;
  text-align: center;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  background: $lblue;
  border: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  border-radius: 55px;
  padding: 15px 35px;
  transition: all 0.3 ease;
  white-space: nowrap;
  &:hover {
    color: #000;
    opacity: 0.8;
  }

  &:focus {
    color: #000;
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.3;
    color: #000;
  }
}


.newindex_flex {
  display: flex;
}

.newindex_items-center {
  align-items: center;
}

.newindex_justify-center {
  justify-content: center;
}

.newindex_justify-between {
  justify-content: space-between;
}

.newindex_text-white {
  color: #fff;
}

.newindex_text-xl {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}

.newindex_pl-15 {
  padding-left: 15px;
}

.newindex_pl-14 {
  padding-left: 14px;
}

.newindex_pl-13 {
  padding-left: 13px;
}

.newindex_pl-12 {
  padding-left: 12px;
}

.newindex_pl-11 {
  padding-left: 11px;
}

.newindex_pl-10 {
  padding-left: 10px;
}
.newindex_pl-9 {
  padding-left: 9px;
}
.newindex_pl-8 {
  padding-left: 8px;
}
.newindex_pl-7 {
  padding-left: 7px;
}
.newindex_pl-6 {
  padding-left: 6px;
}
.newindex_pl-5 {
  padding-left: 5px;
}
.newindex_pl-4 {
  padding-left: 4px;
}
.newindex_pl-3 {
  padding-left: 3px;
}
.newindex_pl-2 {
  padding-left: 2px;
}
.newindex_pl-1 {
  padding-left: 1px;
}

.newindex_callback {
  padding-left: 13px;
}

.newindex_header__search {
  margin-left: 32px;
}

.newindex_bg-gray {
  background: #212D39;
}
.newindex_text-lg {
  font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 16px;
}


.newindex_text-md {
  font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
}

.newindex_decoration-none {
  text-decoration: none;
}

.newindex_cursor-pointer {
  cursor: pointer;
}

.newindex_header__descr {
  padding-left: 27px;
}

.newindex_uppercase {
  text-transform: uppercase;
}

span.newindex_menu__line {
  width: 32px;
  height: 3px;
  margin-bottom: 4px;
  display: block;
  background: #fff;
}

.newindex_header__logo img:first-child{
  max-width: 59px;
}
.newindex_header__logo img:last-child{
  max-width: 141px;
}

.newindex_mainmenu {

}

.newindex_border-b {
  border-bottom: 1px solid #384552;
}
.newindex_border-t {
  border-top: 1px solid #384552;
}

.newindex_border-gray {
  border-color: #384552;
}

.newindex_border-2 {
  border-width: 2px;
}

.newindex_submenu {
  top: calc(100%);
  display: none;
  position: absolute;
  min-width: 259px;
  left: 15px;
  background: #FFFFFF;
  box-shadow: 8px 8px 54px rgba(48, 79, 111, 0.15);
  z-index: 9;
  padding: 15px;
  li {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    a {
      font-style: normal;
      font-size: 18px;
      line-height: 100%;
      color: #000;
      white-space: nowrap;
    }
  }
}

.newindex_mainmenu {
  
}
ul {
  margin: 0;
  padding: 0;
}
.newindex_mainmenu > ul li {
  list-style: none;
}
.newindex_mainmenu > ul > li {
  list-style: none;
  flex: 1;
  position: relative;
}

.newindex_mainmenu > ul > li >a  {
  font-size: 19px;
  line-height: 19px;
  display: block;
  color: #000;
  white-space: nowrap;
  text-transform: uppercase;
    padding: 10px 20px 10px 20px;
    display: block;
    transition: all 0.3 ease;
  &:hover {
    color: $lblue;
  }
  &:focus {
    color: $lblue;
  }
}



.newindex_w-full {
  width: 100%;
}
.newindex_searchblock__input {
  input {
    background: none;
    border: none;
    height: 22px;
    font-size: 16px;
    color: #000;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #000;font-size: 16px;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #000;font-size: 16px;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #000;font-size: 16px;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #000;font-size: 16px;
    }
  }
}
.newindex_searchblock__icon {
  width: 24px;
  height: 24px;

  button {
    padding: 0;
    margin: 0;
    background:none;
    border: none;
  }
}
.newindex_searchblock__wrapper {
  border-radius: 100px;
  padding: 8px 20px;
  border: 3px solid #000;
  width: 300px;
  max-width: 100%;
}
.newindex_bg-gray-500 {
  background: #384552;
}
.newindex_searchblock {
  padding: 11px 0 13px 0;
}



.newindex_mobilemenu {

  position: relative;

  .newindex_mainmenu {
    left: -100%;
    position: absolute;
    top: 100%;
    z-index: 999;
    width: 270px;
    transition: all 0.3 ease;
    padding-bottom: 50px;
    background-color: $dgray;
    background-image: linear-gradient(180deg, $dgray 0%,  $dgray 85%, #0068D7  100%);

  }
  .newindex_mainmenu__list {
     
      padding: 32px 0 0 0;

    li {
      margin-bottom: 38px;
    }
    li.newindex_parent {
/*       background-image: url('.newindex_.newindex_/img/arrowdown.png');
 */      background-position: right center;
      background-repeat: no-repeat;
    }
    a {
      text-align: left;
      font-style: normal;
      font-weight: 700;
      font-size: 19px;
      line-height: 19px;
      display: block;
      color: #000;
    }
  }
  .newindex_submenu {
    left: -100%;
  }
  /* li.newindex_parent {
    .newindex_submenu {
      left: 0;
      z-index: 10;
    }
  } */
}

.newindex_mobilemenu.newindex_active {
.newindex_mainmenu { 
  left: 0;
}
}

.newindex_mobilemenu__info {
  padding-top: 29px;
}
.newindex_mobilemenu__socials {
}
.newindex_socials {
  margin-bottom: 29px;
}

.newindex_langs__list {
  display: none;
}

.newindex_header__lang {
}
.newindex_langs {
  cursor: pointer;
  position: relative;
  padding-left: 30px;
}
.newindex_langs__current {
    font-size: 19px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
   font-weight: bold;
   position: relative;
   padding-left: 30px;
   padding-right: 20px;
   padding-top: 3px;

   &::before {
    content: url("../img/glob.png");
    position: absolute;
    left: 0;
    top: 0;
  
   }

   &::after {
    content: url("../img/arrowdown.png");
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.3 ease;

   }

   &.newindex_active::after{
    content: url("../img/arrowdown.png");
    position: absolute;
    right: 0;
    top: 0;
    transform: rotate(180deg);
   }
}
.newindex_langs__list {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  padding-top: 5px;
  background: #fff;    
  box-shadow: 8px 8px 54px rgba(48, 79, 111, 0.15);

}
.newindex_langs__item {
  a {
    font-size: 19px;
    color: $lblue;
    line-height: 1.2;
   font-weight: bold;  
   padding-right: 20px;
   padding-top: 3px;
   padding-left: 60px;
  }
}


.newindex_mainblock {
  background-image: url("../img/bg1.png");
  background-size: cover;
  background-position: center;

}
.newindex_mainblock__wrapper {
  height: 930px;
}
.newindex_mainblock__main {
  height: 100%;
  padding-bottom: 140px;
  width: 517px;
  max-width: 100%;
  text-align: center;
}
.newindex_mainblock__descr {
  margin-bottom: 45px;
    font-size: 25px;
   text-transform: uppercase;
    color: rgb(7, 2, 2);
    line-height: 1.2;
    text-align: center;
    
  
}
.newindex_mainblock__icon {
}
.newindex_mainblock__image {
  padding-left: 40px;
}
.newindex_mainblock__img {
  margin-bottom: -45px;
}
.newindex_flex {
  display: flex;
}

.newindex_items-center {
  align-items: center;
}

.newindex_justify-center {
  justify-content: center;
}
.newindex_justify-end {
  justify-content: flex-end;
}

.newindex_items-bottom {
    align-items: flex-end;
}

.newindex_flex-column {
  flex-direction: column;
}

.newindex_mainblock__title {
  margin-bottom: 75px;
  h1 {
      font-size: 57px;
      color: rgb(7, 2, 2);
      font-weight: normal;
  }

  span {
    text-transform: uppercase;
    font-size: 65px;
    font-weight: bold;
  }
}

.newindex_fitchesblock {
  background: #fff;
  padding: 30px 0;
}
.newindex_fitchesblock__wrapper {
}

.newindex_fitchesblock__fitches {
  width: 50%;
  text-align: center;
}
.newindex_blueitems {
  display: flex;
  flex-wrap: wrap;
  width: 590px;
  max-width: 100%;
  margin: 0 auto;
}
.newindex_blueitems__item {
  padding: 17px;
 
}
.newindex_blueitems__content {
    background-color: rgb(141, 222, 250);
    box-shadow: 0.262px 4.993px 24.92px 3.08px rgba(0, 0, 0, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 156px;
    height: 139px;
  
}

.newindex_blueitems__image {
  margin-bottom: 15px;

}
.newindex_catalogblock__wrapper {
  position: relative;
}
.newindex_blueitems__img {
}
.newindex_blueitems__text {
  font-weight: 500;
  line-height: 1.2;
  font-size: 14px;
}
.newindex_fitchesblock__img {
  margin-top: 40px;

}
.newindex_catalogblock {
  margin-top: 145px;
  margin-bottom: 145px;
}
.newindex_catalogblock_dark {
  background-color: #0e3847;
  border-top: 17px solid #edf3f5;
}
.newindex_catalogblock_light {
  background-color: #a1e4fb;
}

.newindex_catalogblock__img {
  width: 896px;
  height: 593px;
  position: absolute;
  top: -53px;
}

.newindex_catalogblock_dark .newindex_catalogblock__img:after {
  content: "";
  border: 7px solid $lblue;
  top: -59px;
  right: -52px;
  width: 896px;
  height: 675px;
  display: block;
  position: absolute;
  z-index: -1;
}

.newindex_catalogblock_light .newindex_catalogblock__img:after {
  content: "";
  border: 2px solid #000;
  top: -49px;
  left: -17px;
  width: 896px;
  height: 605px;
  display: block;
  position: absolute;
  z-index: -1;
}

.newindex_catalogblock__image {
  width: 896px;
  margin-right: 100px;
}

.newindex_catalogblock__main {
  height: 462px;
  width: calc(100% - 996px);
}

.newindex_catalogblock {
}

.newindex_catalogblock__wrapper {
  z-index: 1;
}

.newindex_catalogblock__imgcontent {
  width: 320px;
  max-width: 100%;
  position: absolute;
  top: 60px;
  right: 93px;
}
.newindex_catalogblock__imgtitle {
  font-size: 33px;
  margin-bottom: 30px;
  font-weight: bold;
  text-align: center;
}
.newindex_catalogblock__imgparams {
  margin-bottom: 15px;
}
.newindex_catalogblock__imgparam {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: center;
  span {
    display: block;
  }
}
.newindex_catalogblock__imglink {
  text-align: center;
  a {
    display: inline-block;
    border: 2px solid #000;
    padding: 3px 23px;
    font-size: 17px;
    font-weight: bold;
   border-radius: 100px;
   text-align: center;
   color: #000;
   margin: 10px auto;
  }
}

.newindex_catalogblock__content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;

}
.newindex_catalogblock__list {
  li {
    color: #fff;
    list-style: none;
    font-size: 15px;
  }
}
.newindex_catalogblock__link {
  width:212px;
  text-align: center;
  a {
    display: inline-block;
    margin: 10px auto;
    border: 2px solid #fff;
    padding: 3px 25px;
    color: #fff;
    border-radius: 100px;
    font-size: 13px;
  }
}
.newindex_catalogblock__title {
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  span {
    font-size: 44px;
  }
}

.newindex_catalogblock_light  {
  margin-top: 240px;
  .newindex_catalogblock__img {
    right: 0;
  }
  * {
    color: #000;
  }
  .newindex_catalogblock__list li {
    text-align: right;
    color: #000;
  }
  .newindex_catalogblock__link a {
    border: 2px solid #000;
    color: #000;
  }
  .newindex_catalogblock__imgcontent {
    right: 90px;
  }
}

.newindex_darkk {
  background: #edf3f5;
  padding-top: 0;
}

.newindex_about {
  background-image: url("../img/bg2.png");
  background-position: center;
  padding-top: 209px;
  margin-top: -209px;
  padding-bottom: 68px;
}
.newindex_about__banner {
  max-width: 1260px;
  height: 505px;
  margin-bottom: 30px;
  border: 19px solid #0e3847;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.newindex_about__bannercontent {
}
.newindex_about__title {
  margin-top: 30px;
  font-size: 57px;
  margin-bottom: 52px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
}
.newindex_about__link {
  a {
    font-size: 22px;
    border: 2px solid #000;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 auto;
    padding: 5px 25px;
    border-radius: 100px;
    color: #000;
  }
}
.newindex_about__text {
    font-size: 24px;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: center;
    margin-bottom: 40px;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
  
}
.newindex_about__items {
  display: flex;
  margin: 0 -15px;
  justify-content: center;
}
.newindex_about__item {
  padding: 0 15px;
}
.newindex_about__content {
  border: 4px solid rgb(14, 56, 71);
  
    background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
    width: 209px;
    height: 209px;
      font-size: 20px;
      opacity: 0.7;
      color: rgb(14, 56, 71);
      font-weight: bold;
      line-height: 1.2;
      padding: 20px;
}
.newindex_about__caption {
  text-align: center;
}

#partners {
  overflow: hidden;
}

#partners h2 {
  margin-bottom: 40px;
}

.newindex_partners_slider {
  margin-bottom: 100px;
}

.newindex_partners_slider .slick-arrow {
  margin-top: -20px;
}

.newindex_partners_slider .newindex_item {
  width: calc(33.333% - 20px);
  margin: 0 15px;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.newindex_partners_slider .newindex_item img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
#partners .slick-slider {
  position: relative;
  margin: 0 -70px;
  padding: 0 70px;
}

#partners .slick-slider .slick-list {
  margin: 0 -15px;
}

#partners .slick-arrow {
  position: absolute;
  top: 90%;
  bottom: 0;
  margin-top: -46px;
  width: 40px;
  height: 40px;
  z-index: 1;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3 ease 0s;
  transition: all 0.3 ease 0s;
}

#partners .slick-arrow:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 13px;
  height: 13px;
  top: 13px;
  border-top: 3px solid #000037;
  border-left: 3px solid #000037;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#partners .slick-arrow:hover {
  background-color: #000037;
}

#partners .slick-arrow:hover:before {
  border-color: #fff;
}

#partners .slick-prev {
  left: 0;
}

#partners .slick-prev::before {
  left: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#partners .slick-next {
  right: 0;
}

#partners .slick-next:before {
  right: 15px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.newindex_partners  {
  padding-top: 30px;
  padding-bottom: 65px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.105px 1.997px 36.52px 7.48px rgba(0, 0, 0, 0.14);
    margin-bottom: 70px;
}
.newindex_partners h2 {
  text-align: center;
}

.newindex_page_width {
  padding: 0px 90px;
  margin: 0 auto;
  max-width: 1530px;
  position: relative;
}

@media screen and (max-width: 1030px) {
  .newindex_partners_slider {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 600px) {
  .newindex_partners_slider {
    margin-bottom: 60px;
  }
  .newindex_partners_slider .slick-list {
    margin: 0 20px;
  }
}


.newindex_blogblock {
  background: #fefefe;
}
.newindex_container {
}
.newindex_blog {
}
.newindex_blogcontent {
}
.newindex_blogslider {
  margin: 0 -20px;
}
.newindex_blogslide {
  padding: 0 20px;
}


.newindex_blog__wrapper {
  border: 4px solid rgb(161, 228, 251);
  border-radius: 50%;
 display: flex;
 align-items: center;
 justify-content: center;
    width: 222px;
    height: 222px;
    padding: 6px;
  margin-left: auto;
  margin-right: auto;
}

.newindex_blogitem {
  border-radius: 50%;
  background-color: rgb(161, 228, 251);
  border: 4px solid #fff;
  padding: 30px;
  width: 211px;
  height: 211px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newindex_blogmain {

}
.newindex_blogtitle {
    font-size: 16px;
    line-height: 1.2;
  text-align: center;
}
.newindex_blogcontent {
  max-width: 1070px;
margin-left: auto;
margin-right: auto;
}
.newindex_blog h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  margin-bottom: 40px;
}
.newindex__link  {
  text-align: center;
}
.newindex__link a {
  border: 2px solid #000;
    border-radius: 100px;
    color: #000;
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
    margin: 10px auto;
    padding: 3px 23px;
    text-align: center;
}
.newindex_blogblock {
  padding: 120px 0;
}

.newindex_blogarrow {
}
.newindex_blogarrow_left {
  position: absolute;
  left: -60px;
  top: calc(50% - 15px);
  z-index: 1;
  cursor: pointer;
}
.newindex_blogarrow_right {
  position: absolute;
  right: -60px;
  top: calc(50% - 15px);
  z-index: 1;
  cursor: pointer;

}
.newindex_blogcontent {
  position: relative;
}


.file-upload {
  position: relative
}

.fileupload input[type=file] {
  display: none
}

.fileupload label {
  cursor: pointer;
  display: block
}
.filename, .filenames {
  color: #000 !important;
}
.modal .filenames, .modal .filename {
  color: #000 !important;
}
.filebutton {
  background-image: url(../img/clip.png);
  background-position: 0;
  background-repeat: no-repeat;
  color: #000;
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
/*   margin-left: 55px; */
  min-height: 23px;
  padding-left: 23px;
  padding-top: 2px;
  text-align: center;
  transition: all .3s ease;
  vertical-align: middle;
  white-space: nowrap
}

@media only screen and (max-width:999px) {
  .filebutton {
    margin-left: 0
  }
}

.filename {
  padding: 0 5px
}

.filename,
.filenames {
  color: #07c;
  display: inline-block;
  font-size: 13px;
  vertical-align: middle
}

.fileinfo,
.filenames {
  width: calc(100% - 200px)
}

.fileinfo {
  color: #666;
  font-size: 13px;
  margin-left: 20px
}

.fileinfo,
.fileinfo .fa {
  display: inline-block;
  vertical-align: middle
}

.fileinfo .fa {
  font-size: 19px
}

.fileinfo span {
  display: inline-block;
  vertical-align: middle
}

.newindex_formblock {
}
.newindex_formblock__wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: 3.214px 3.83px 1.86px 0.14px rgba(0, 0, 0, 0.18);
    width: 619px;
    height: 477px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.newindex_formblock__form {
  width: 340px;
  height: 340px;
}
.newindex_formblock__input {
}
.fileupload {
}
.fileupload__files {
}
.fileupload__file {
}

.form__row {
}
.form__row--notsm {
}
.newindex_formblock__input {
  margin-bottom: 32px;
}
.newindex_formblock__input input {
    border-width: 5px;
    border-color: rgb(163, 204, 237);
    border-style: solid;
    border-radius: 9px;
   padding: 3px 12px;
   display: block;
   width: 100%;
   line-height: 1;
}
.check {
}
.bigButton {
}
.newindex_formblock__input--file {
  margin-bottom: 12px;
}

.newindex_formblock {
  height: 756px;
  background-image: url(../img/bg3.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.newindex_formblock__wrapper {
  margin-top: 100px;
}
.newindex_formblock__form {
}
.newindex_formblock__input {
}
.fileupload {
}
.fileupload__files {
}
.fileupload__file {
}
.filebutton {
}
.form__row {
  display: flex;
  align-items: center;
}
.form__row--notsm {
}
.form__input {
}

.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 11px;
  color: #0e3847;
  line-height: 1.2;
  text-align: left;

}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;

}


.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkcontainer .checkmark:after {
  content: url(../img/checkno.png);
  display: block;
  position: absolute;
  bottom: 0;left: 0;
  z-index: 0;
}
.checkcontainer input:checked ~ .checkmark:before {
  content: url(../img/checkyes.png);
  display: block;
  position: absolute;
  bottom: 0;left: 0;
  z-index: 1;
}


.bigButton {
  background: #0e3847;
  border-radius: 100px;
  padding: 8px 26px;
  text-align: center;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
}

.newindex_formblock__input--nomg {
  margin-bottom: 10px;
}

.newindex_menubottom {
  padding: 100px 0;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li {
    list-style: none;
    padding: 0 30px;
  }
  a {
    font-size: 35px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
  }
}

.closesearch {
  display: none;
}
.closemenu {
  display: none;
}

@media (max-width: 1550px) {
  .newindex_mainmenu>ul>li>a {
    font-size: 14px;
    padding: 5px;
  }
  .newindex_header__menu li {
    padding: 0;
  }
  .newindex_langs {
    padding-left: 10px;
  }
  .newindex_searchblock__wrapper {
    width: 250px;
  }
  .newindex_button {
    padding: 15px;
    font-size: 13px;
  }
  .newindex_callback {
    padding-left: 0;
  }
  .newindex_catalogblock__img {
    width: 730px;
    background-position: center right;
  }
  .newindex_catalogblock__main {
    height: initial;
    padding: 30px 0;
    width: calc(100% - 809px);
  }
  .newindex_catalogblock__content {
    flex-wrap: wrap;
  }
  .newindex_catalogblock__list {
    margin-bottom: 30px;
  }
  .newindex_catalogblock__list li {
    text-align: center;
  }
  .newindex_catalogblock_light  .newindex_catalogblock__link {
    margin-bottom: 30px;
  }
  .newindex_catalogblock__img {
    background-position: 100%;
    width: 737px;
    background-position: center right -48px;
  }
  .newindex_about {
    margin-top: -145px;
  }
  .newindex_about__content {
    font-size: 16px;
    width: 170px;
  }
  .newindex_menubottom a {
    font-size: 20px;
  }
}

@media (max-width: 1023px) {
  .newindex_footer__cols {
    flex-wrap: wrap;
  }
  .newindex_about__items {
    flex-wrap: wrap;
  }
  .newindex_menubottom {
  display: none;
  }
  .newindex_mainblock__title span {
    font-size: 33px;
  }
  .newindex_mainblock__title h1 {
    font-size: 27px;
  }
  .newindex_flex {
    flex-wrap: wrap;
  }
  .newindex_catalogblock__list {
    display: none;
  }
  .newindex_catalogblock__img {
    width: 100%;
    height: initial;
    position: initial;
  }
  .newindex_catalogblock__imgparams {
    display: none;
  }
  .newindex_catalogblock__imgcontent {
    position: initial;
  }
  .newindex_about__title {
    font-size: 32px;
  }
  .newindex_formblock {
    height: initial;
  }
  .newindex_formblock__wrapper {
    margin-top: 0;
    background: #edefeb;

  }
  .newindex_header__logo img:last-child {
    max-width: 70px;
  }
  .newindex_header__menu {
    display: none;
  }
  .newindex_button {
    font-size: 11px;
    padding: 6px 13px;
  }
  .newindex_searchblock {
    display: none;
  }
  .newindex_langs {
    padding-left: 0;
  }
  .newindex_header__item {
    padding: 0 5px;
  }
  .newindex_langs__current {
    font-size: 12px;
    padding-left: 22px
  }
  .newindex_langs__item a {
    font-size: 12px;
    padding-left: 26px;
  }
  .newindex_langs__current:after {
    content: url(../img/arrowdown2.png);
    position: absolute;
    right: 7px;
    top: 3px;
  }
  .newindex_langs__current:before {
    content: url(../img/glob2.png);
    left: 0;
    position: absolute;
    top: 0;
    }
    .newindex_langs__current.newindex_active:after {
      content: url(../img/arrowdown2.png);
      position: absolute;
      right: 7px;
      top: 3px;
      transform: rotate(180deg);
  }
  .newindex_mainblock__wrapper {
    height: 642px;
  }
  
  .newindex_searchblock {
    display: none;
  }

  .newindex_header__mainmenu {
    width: 22px;
    
  }
  .newindex_header__wrapper {
    padding: 15px 0;
  }
  .newindex_header__item.onlyDesktop {
    padding: 0;
  }
  .newindex_searchblock {
    /* display: none; */
    display: block;
    display: flex;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background: #fff;
    top: 0;
  }
  .newindex_searchblock__wrapper.newindex_flex.newindex_items-center {
    flex-wrap: nowrap;
  }
  .newindex_searchblock__wrapper {
    width: 100%;
  }
  .headersearch {
   

    form {
      width: calc(100% - 15px);
      padding-left: 15px;
    }
  }

  .closesearch {
    display: block;
    position: absolute;top: 9px;
    right: 30px;
    font-size: 50px;
    line-height: 1;
    z-index: 99;
  }
  .closemenu {
    display: block;
    position: absolute;top: 9px;
    right: 30px;
    font-size: 50px;
    line-height: 1;
    z-index: 99;
  }
  .headersearch {
    display: none !important;
  }
  .headersearch.search_active{
    display: block !important;
  }
  .mainmenu.menu_active {
    display: block !important;
  }
  .newindex_header__menu {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    background: #ffff;
    width: 100%;
    margin: 0;
    padding: 30px;
    box-shadow: 0 0 16px -3px #ababab;
}
.newindex_mainmenu>ul>li {
  width: 100%;
}
.newindex_header__menu ul {
  margin: 0;
  width: 100%;
}
.newindex_mainmenu ul.newindex_flex.newindex_w-full {
  display: block;
}
.newindex_mainblock__descr {
  font-size: 20px;
  margin-bottom: 20px;
}
.newindex_mainblock__icon {
  height: 67px;
}
.newindex_mainblock__main {
  padding-bottom: 60px;
}
.newindex_mainblock {
  background-image: none;
  background: linear-gradient(0deg, #8ddefa 70%, #fff 50%);
}
.newindex_mainblock__title {
  margin-bottom: 0;
}
.newindex_mainblock__mobileimage {
  padding-bottom: 30px;
}
.newindex_mainblock__mobileimg {
  padding: 0 20px;
  width: 345px;
  margin: auto;
}
.newindex_mainblock__main  {
  padding-top: 20px;
}
.newindex_mainblock__title span {
  display: block;
}
.newindex__mainblockM {
  margin: auto;
}
.newindex_mainblock__main {
  width: 100%;
}
.newindex_mainblock__image {
  display: none;
}
.newindex_fitchesblock__textimg {
  order: -1;
}
.newindex_blueitems__item {
  width: 50%;
}
.newindex_blueitems {
  width: 100%;
}
.newindex_fitchesblock__fitches {
  width: 100%;
}
.newindex_blueitems {
  margin: 0 -17px;
  max-width: initial;
  width: calc(100% + 34px);
}
.newindex_fitchesblock__img {
  margin-top: 15px;
}
.newindex_blueitems__item {
  padding: 10px 17px;
}
.newindex_fitchesblock__fitches {
  margin-top: 30px;
}
.newindex_catalogblock__image {
  width: 100%;
  margin-right: 0;
}
.newindex_catalogblock {
  margin: 30px 0;
}
.newindex_catalogblock__imgcontent {
  position: initial;
  width: 100%;
}
.newindex_catalogblock__link {
  width: 100%;
}
.newindex_catalogblock__img {
  position: initial;
}
.newindex_about {
  margin-top: 0;
}
.newindex_catalogblock_dark .newindex_catalogblock__img:after {
  display: none;
}
.newindex_catalogblock__main {
  width: 100%;
  order: -1;
}
.newindex_catalogblock__title span {
  display: block;
}
.newindex_catalogblock__imgcontent {
  position: relative;
  top: 0;
  right: 0;
}
.newindex_catalogblock__img {
  background-image: none !important;
}
.newindex_catalogblock_dark {
  border-top: none;
}

.newindex_catalogblock_dark {
  background: linear-gradient(0deg,#0e3847 
  182px,#fff 0);
}
.newindex_darkk {
  display: none;
}

.section__catalogblock--mobile {
  padding-bottom: 40px;
  .newindex_catalogblock__link {
    background: #0e3847;
    padding: 30px 0;
    margin-bottom: 20px;
  }

  .newindex_catalogblock__imggg {
    border: 7px solid #8ddefa;
    margin: 15px;
  }
  .newindex_catalogblock__imga {
      border: 10px solid #fff;
    }
  }

  .newindex_catalogblock__imgtitle {
    margin-bottom: 5px;
  }

  .section__catalogblock--mobile--light {
    .newindex_catalogblock__link {
      background: #a1e4fb;
    }
    .newindex_catalogblock__title { 
      color: #000;
    }
    .newindex_catalogblock__link a {
        color: #000;
        border-color: #000;
      }

    .newindex_catalogblock__imggg {
      border: 7px solid #0e3847;
      margin: 15px;
    }
  
  }

  .newindex_about {
    padding-top: 40px;
    background-image: none;
    .newindex_container {
      width: 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  .newindex_about__bannercontent {
  }
  .newindex_about__banner {
    border: none;
    height: initial;
    margin-bottom: 40px;
  }
  .newindex_about__title {
    font-size: 42px;
    font-weight: bold;
  }
  .newindex_about__text {
    font-size: 18px;
  }
  .newindex_about__title {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .newindex_about__link a {
    font-size: 14px;
    padding: 3px 15px 2px 15px;
    font-weight: bold;
  }
  .newindex__bannerwrapper {
    background-image: url(../img/bg2.png);
    background-position: 50%;
    padding: 40px 15px 55px 15px;
      margin-bottom: 20px;
  }
  .newindex_about__content {
    width: 170px;
    height: 170px;
  }
  .newindex_about__item {
    padding: 0 5px;
    margin-bottom: 10px;
  }
  .newindex_about__item {
    width: 50%;
    .newindex_about__content {
      width: 100%;
    }
  }
  .newindex_about__item:last-child {
    padding: 0 5px;
    width: 100%;
    .newindex_about__content {
      width: 100%;
    }
  }
  .newindex_about__items {
    margin: 0;
  }

  .newindex_partners {
    box-shadow: none;
  }
  .newindex_about {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .newindex_partners {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .newindex_blogblock {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .newindex_container {
    max-width: 375px;
  }
}